.wholein{
    /* display: flex ;   */
    /* gap: 10px; */
    background: #EBEBEB;
    /* padding: 0 2rem 0 2rem; */
}
.dashbackpic{
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 100%;
    height: 20vh;
}

.onboardheadz{
    display: flex;
    background: #FFF;
    align-items: center;
    /* gap: 20rem; */
    /* justify-content: center; */
    justify-content: space-between;
    padding: 1rem 2rem 1rem 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.onblogoz{
    width: 60%;
}
.nolinupz{
    display: flex;
    /* justify-content: space-between; */
    gap: 70rem;
    align-items: center;
}
.notilign{
    display: flex;
    gap: 2rem;
}
.notifellz{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.lignup{
    display: flex;
    align-items: center;
    color: #FFF;
    padding: 1rem 2rem;
    border-radius: 20px;
    background: #36AAD9;
}
.duo{
    display: flex;
    top: -10rem;
    width: 100%;
    position: relative;
}
.both{
    padding: 0 2.3rem;
    display: flex;
    width: 100%;
    gap: 7rem;
}
.leftduo{
    width: 61%;
    margin-right: 1rem;
}
.ordeadoth{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.deford{
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    width: 47%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.caroutt{
    /* display: flex;  */
    /* align-items: center; */
    width: 65%;
}
.bukka2{
    background: url(../images/bukkaround.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    justify-content: space-around;
    gap: 30rem;
    height: 150px;
    border-radius: 20px;
}
.bukkontainer{
    display: flex;
}

.bukkontent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   
}
.tastystar{
    display: flex ;
}
.vendome{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.mext{
    font-size: 32px;
    font-weight: 700;
}
.excext{
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 400;
}
.tastystar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.tastiner{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(152deg, #6BCDF5 0%, rgba(110, 165, 188, 0.00) 100%);
}
.fournine{
    font-size: 16px;
    font-weight: 500;
}
.taxt{
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
}
.vext{
    font-size: 18px;
    font-weight: 500;
}
.navout{
    display: flex;
    margin-top: 0.8rem;
    /* background: white;  */
    padding: 0.01rem;
    border-radius: 20px;
    /* border: 8px solid red; */
}
.navbard{
    display: flex;
    /* padding-left: 70px; */
    /* padding-block: 35px; */
    /* background: white; */
    /* background: #EDEDED; */
}

.nav_searchd{
    display: flex;
}
.search_holderd{
    display: flex;
    padding: 0.5rem 0px;
    width: 57.8vw;
    border: 2px solid rgb(176, 171, 171);
    border-radius: 10px;
    background: #FFF;
    /* background: #EBEBEB; */
}
.search_inputd{
    border: none;
    outline: none;
    width: 47.75vw;
    padding:  0px 20px;
    /* background-color: #EBEBEB; */
    font-size: 16px;
    font-weight: 400;
}
.searchicon{
    font-size: 20px;
    width: 20px;
    /* padding-left: 15px; */
}
.brunerout{
    padding: 15px;
    background: #FFF;
    margin-top: 1rem;
    border-radius: 20px 20px 0px 0px;
}
.brunerin{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 18rem;

}
.brext{
    display: flex;
    /* width: 194px; */
    /* height: 59px; */
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    background: #36AAD9;
}
.lext,.dext{
    font-size: 18px;
    font-weight: 500;
}
.brice{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
    padding-top: 2rem;
    border-bottom: 4px solid #ececec;
    background: #FFFFFF;
    gap: 53px;
}
.breaktext,
.ricetext,
.pastext,
.swext,
.otherstext{
    font-size: 18px;
    font-weight: 500;
    padding: 0 1rem 1rem 1rem;
}
.bomelette{
    display: flex;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: #FFFFFF;
}
.imaplus{
    display: flex;
    gap: 0.5rem;
}
.boiledyam{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: last baseline;
    width:44%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
.boilcount{
    display: flex;
    flex-direction: column;
    width: 100%;  
    gap: 1rem;
    padding: .3rem;
}
.boilcount2{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    width: 100%;  
    padding: .3rem;
}
.boiladd{
    display: flex;
    gap: 5rem;
    align-items: last baseline;
}
.boiltext{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    /* margin-left: 2rem; */
}
.tentext{
    color: #158DBE;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
    border-radius: 5px;
    background: rgba(54, 170, 217, 0.20);
}
.sixhtext{
    font-size: 16px;
    font-weight: 400;
}
.addicon{
    color: #158DBE;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    width: 25px;
    height: 25px;
    background-color: rgba(21, 141, 190, 0.10);
    border-radius: 50%;
}

.rightduo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 37%; */
    padding: 1rem;
    border-radius: 20px;
    height: fit-content;
    background-color: #FFFFFF;
}
.rightin{
    display: flex;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    /* margin-left: 20px; */
    width: 486px;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    /* border: 1px solid #FFF; */
    background: #FFFFFF;
    flex-direction: column;
    align-items: flex-start;
    /* flex-shrink: 0; */
}
.ofrom{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-weight: 400;
}
.bukext{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.waixt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.waimg{
    background: url(../images/waiter.png );
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 258px;
    height: 186px;
    /* flex-shrink: 0; */
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin-left: 50px;
    border-radius: 10px;

}
.waiter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nolook{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.noxt{
    color: #36AAD9;
    font-size: 20px;
    font-weight: 500;
}
.looder{
    display: flex;
    width: 310px;
    flex-direction: column;
}
.loxt{
    color: #A3A3A3;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.cashira{
    /* display: flex; */
    margin-top: 250px;
    display: inline-flex;
    padding: 15px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #36AAD9;
    gap: 330px;
}
.cashtext{
    color: #A3A3A3;
    font-size: 14px;
    font-weight: 500;
}
.naira{
    color: #078C1C;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    /* letter-spacing: -0.5px; */
}
.prout{
    display: inline-flex;
    padding: 18px 167.7px;
    margin-bottom: 10px;
    /* padding-inline: 164.4px; */
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    background: rgba(54, 170, 217, 0.60);
}

.prext{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}