/* .modalBackground{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    z-index: 9000;
    transition: linear 0.3s;
} */

.modaler{
    border: 2px solid red;
    width: 500px;
    height: 500px;
}
