.all_for_one{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    /* height: 100vh; */
}
.navbarr{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    /* flex-direction: row; */
    /* align-items: center; */
    /* margin-top: 30px; */
}
.onboardtmlogo{
    width: 150px;
    position: absolute;
    left: 30px;
}

.nav_leftt{
    display: flex;
    margin-right: 20px;
}
.nav_searchh{
    display: flex;
    margin-right: 200px;
}
.nav_rightt{
    padding-left: 150px;
    display: flex;
    position: relative;
}
.search_holderr{
    display: flex;
    padding: 10px 31px;
    align-items: center;
    border-radius: 20px;
    background: #EBEBEB;
}
.search_inputt{
    border: none;
    outline: none;
    width: 37.5vw;
    padding:  1px 20px;
    background-color: #EBEBEB;
}
.searchicon{
    font-size: 25px;
    padding-left: 15px;
}
.humann{
    margin-left: 40px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.countpartt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* width: 24px; */
    /* height: 24px; */
}

.humanpeterr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.peterr{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 17px;
}
.adelss{
    font-size: 16px;
    font-weight: 500;
}
.gmaill{
    color: #A3A3A3;
    font-size: 12px;
    font-weight: 400;
}
.on_header {
    background: url(../images/Welcome.png);
    width: 100vw;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 30vh;
    padding-bottom: 50px;
  }
  
  .ricebox{
    display: flex; 
    align-self: flex-end;
    left: 58%;
    height: 30vh;
    position: relative; 
    /* top: 10%;  */
    bottom: 170px; 
 } 
  
  .text-area {
    padding-inline-start: 80px;
    margin-top: 50px;
    margin-left: 80px;
  }
  .on_txt {
    display: flex;
    gap: 10px;
    /* font-family: DM Sans; */
    align-items: center;
  }
  .cta {
    color: #FFF;
    font-size: 40px;
    /* font-family: DM Sans; */
    font-weight: 700;
  }
  .wel-txt {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
  }
  
  .line {
    border: 2px solid #fff;
    width: 5vw;
    padding: 0 20px;
  }
  
  .extra {
    color: #FFF;
    font-size: 24px;
    /* font-family: DM Sans; */
    font-weight: 400;
  }

.vendors{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.top_text{
    display: flex;
    align-items: self-start;
    margin-right: 1680px;
    margin-top: 50px;
    /* justify-content: left; */
    font-size: 32px;
    color: #0E89BB;
    font-weight: 500;
    margin-left: 50px;
    /* right: 100px; */
    /* margin-right: 10px; */

}
.four{
    display: flex;
    /* justify-content: left; */
    justify-content: center;
    gap: 80px;
    /* margin-right: 500px; */
    padding-left: 50px;
    margin-top: 80px;
    padding-bottom: 30px;
}

.ven_name{
        font-size: 24px;
        font-weight: 700;
        margin-top: 5px;
}
.ven_rating{
    display: flex;
    align-items: center;
    margin-top: 6px;
    font-size: 20px;
    font-weight: 500;
}
.ratings{
    margin-left: 8px;
    font-weight: 400;
    color: grey;
    ;
}
.other_text{
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 50px;
    /* align-items: self-start; */
    /* margin-right: 1680px; */
    margin-top: 50px;
    /* justify-content: left; */
    font-size: 32px;
    color: #0E89BB;
    font-weight: 500;
    /* right: 100px; */
    /* margin-right: 10px; */
}
.hotdeals_section{
    display: flex;
    flex-direction: column;
    position: relative;

}

.hotdeals{
    background: url(../images/hotdeals.png);
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20rem;
    /* display: flex; */
}
.eclipse{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.eclipse1{
    position: absolute;
    top: 100px;

}
/* .eclipse2{
    position: absolute;

} */
.content{
    display: flex;
    gap: 20px;
    flex-direction: column;
    
    
}
.content button{
    display: flex;
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 15px;
    /* align-items: flex-start; */
    /* justify-content: space-around; */

}
.fireline{
    display: flex;
}
.firespan{
    display: flex;
    align-items: center;
}
.hd p{
    display: flex;
    flex-direction: column;
}
.con1{
    display: flex;
    gap: 30px;
}
.con1 button , .con2 button{
    background: transparent;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.con2{
    gap: 30px;
    display: flex;
}

.shake{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 13.889px;
    /* width: 61.111px;
    height: 37.703px; */
}
.fire{
    margin-right: 10px;
}
.hd{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hd p{
    font-size: 32px;
    align-items: center;
    display: flex;
    color: #FFF;
    line-height: 30px;
}
.line {
    border: 1px solid #fff;
    width: 5vw;
    height: 0vh;
    margin-left: 20px;
    margin-top: 3px;
}
 /* .chefpic{
    width: 350px;
}
.foodiepic{
    width: 270px
}  */
.chef_foodie{
    display: flex;
    margin-top: 100px;
    /* margin-bottom: 30px; */
    /* display: inline-flex; */
    align-items: center;
    /* justify-content: center; */
    gap: 411px;
}
.chef{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bvr{
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.bvex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.expand{
    display: flex;
    color: #A3A3A3;
    font-size: 24px;
    font-family: DM Sans;
}
.sign{
    display: flex;
    padding: 26px 57px 26px 56px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #36AAD9;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}
.all_table{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 100px;
    margin-top: 100px;
    background: #36AAD9;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;

}
ul, li{
    list-style: none;
    font-size: 16px;
    font-weight: 450;
    margin-top: 10px;
}
.head{
font-size: 20px;
font-weight: 500;
padding-bottom: 30px;
}
.head2{
font-size: 20px;
font-weight: 500;
padding-top: 30px;
}
.special{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100vw;
    padding:  1500 0 1500 0;
    /* margin-left: 60px; */
}
.chatdiv{
    display: flex; 
    border-radius: 50px;
    background-color: #FFFFFF;
    display: inline-flex;
    padding: 12px 40px;
    position: absolute;
    margin-bottom: 70px;
    right: 120px;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
}
.chaxt{
    display: flex;
    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    font-weight: 500;
}
.copyright{
    display: flex;
    align-items: center;
    position: relative;
    right: 40rem;
    /* justify-content: center; */
    /* padding: 12px; */
    /* margin-right: 150px; */
    height: 72px;
    gap: 5px;
    color: white;
}