.navin{
    width: 100vw;
}
.backtop{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    margin: 1.5rem 3rem;
    gap: 10px;  
    border-radius: 1rem;
    width: fit-content;
}
.wholeorder{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background: #EDEDED;
    /* gap: 10rem; */
}
.wholeorderin{
    display: flex;
    flex-direction: column;
    /* width: 43%; */
    /* background-color: red; */
    align-items: center;
    /* justify-content: center; */
    padding: 2rem;
    gap: 2rem;
}
.ordermethod{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    border-radius: 1.2rem;
    gap: 1rem;
}
.ormary{
    color: #A3A3A3;
    font-size: 18px;
    font-weight: 400;
}
.totalten{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 31.5rem;
    padding: 1rem 1.5rem;
    background: #FFF;
    border-radius: 20px;
}
.topay{
    font-size: 18px;
    font-weight: 500;
}
.onekay1{
    color: #1997CB;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
.choosecard{
    display: flex;
    flex-direction: column;
}
.choosecard{
    margin-top: 2rem;
}
.choothod{
    display: flex;
    color: #A3A3A3;
    font-size: 18px;
    font-weight: 400;
}
.radcon{
    display: flex;
    justify-content: space-between;
    /* gap: 22.5rem; */
    margin-top: 0.5rem;
    border-radius: 20px;
    background: #FFF;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
}
.radcon2{
    display: flex;
    justify-content: space-between;
    gap: 25rem;
    margin-top: 1rem;
    border-radius: 20px;
    background: #FFF;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.rad1, .rad2{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    gap: 1rem;
    color: black;

}
.pard{
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
    display: flex;
    gap: 22.5rem;
}
.phonebank{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #A3A3A3;
}
.masterverve{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.prokay{
    display: flex;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #36AAD9;
    /* width: 789px; */
    padding: 1rem 15.3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}
.propay, .onekay2{
    font-size: 22px;
    font-weight: 500;
    color: #FFF;
}
